/* 2025 VALERIA ARENAS - BASICS IN JAVASCRIPT  */

nav {
  background-color: #033047;
  color: #d9d9d9;
  padding: 25px;
  font: 300;
  font-size: larger;
  font-family: monospace;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.time-date {
  text-align: center;
  font-size: 60px;
}

.nav li {
  display: inline;
  margin-right: 25px;
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.nav li a{
  color: #d9d9d9;
  text-decoration: none;
  font-weight: bold;
}

.nav li a:hover{
  text-decoration: underline;
}

body {
  font-family: monospace;
  background-color: #304C62;
}

.div-titles {
  background-color: #F4F3EE;
  font-size: larger;
  text-align: center;
  padding: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div-para {
  background-color: #5C677D;
  color: #d9d9d9;
  text-align: center;
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div-container {
  background-color: #5C677D;
  color: #d9d9d9;
  text-align: center;
  padding: 3px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
  width: 25.25%;
  padding: 15px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

button {
  color: #033047;
  background-color: #d9d9d9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.list-items {
    list-style-type: disc;
    padding-left: 20px;
}

.card-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.card-column {
  width: 25.25%;
  padding: 15px;
}