/* 2025 VALERIA ARENAS - BASICS IN JAVASCRIPT  */
:root {
  --Dark-Blue: #1A3D63;
  --Med-Blue: #4A7FA7;
  --Light-Blue: #B3CFE5;
  --White: #F6FAFD;
}

@font-face {
  font-family: Raleway;
  src: url(./fonts/raleway/Raleway-Regular.ttf);
}

body {
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  background-color: #E3F1FF;
}

ul {
  font-family: 'Raleway';
  font-size: 25px;
  font-weight: bolder;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color: var(--Dark-Blue);
  box-shadow: 5px 5px 10px 2px var(--Med-Blue);

}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: var(--White);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

img {
  padding: 25px 25px;
  width: 100px;
  height: 100px;
}

a{
  text-align: center;
  font-size: medium;
  text-decoration: none;
  color: var(--White);
  padding-bottom: 5px;
}



.para-card {
  padding: 35px 35px;
  font-size: large;
}

.title-card
{
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.img-next
{
  width: 24px;
  height: 24px;
}

.div-titles {
  font-size: 100px;
  text-align: center;
  font-weight: 700;
  padding: 50px 15px;
}

.div-para {
  background-color: var(--Light-Blue);
  text-align: center;
  font-size: 130%;
  padding: 15px 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: double;
  box-shadow: 5px 5px 10px 2px var(--Dark-Blue);
}

.cards-container {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;

}

.card-titles {
  background-color: var(--Light-Blue);
  text-align: center;
  font-size: 30px;
  padding: 15px 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: double;
  box-shadow: 5px 5px 10px 2px var(--Dark-Blue);
}

.card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: var(--White);
  color: black;
  border-color: black;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px var(--Dark-Blue);
}

.card-back {
  background-color: var(--Med-Blue);
  color: var(--White);
  border-color: black;
  transform: rotateY(180deg);
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px var(--Dark-Blue);
}

@keyframes move
{
  100%
  {
    transform: translate3d(0,0,1px)
    rotate(360deg);
  }
}

.anim-background
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-color: #E3F1FF;
  overflow: hidden;
}

.ball
{
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  backface-visibility: hidden;
  animation: move linear infinite;
}

.ball:nth-child(odd)
{
  color: var(--Dark-Blue);
}

.ball:nth-child(even)
{
  color: var(--Light-Blue);
}

.ball:nth-child(1)
{
  top: 77%;
  left: 88%;
  animation-duration: 40s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
  box-shadow: 40vmin 0 5.7030763vmin currentColor;
}

.ball:nth-child(2) {
  top: 42%;
  left: 2%;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: -19vw 21vh;
  box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
}
.ball:nth-child(3) {
  top: 28%;
  left: 18%;
  animation-duration: 49s;
  animation-delay: -8s;
  transform-origin: -22vw 3vh;
  box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
}
.ball:nth-child(4) {
  top: 50%;
  left: 79%;
  animation-duration: 26s;
  animation-delay: -21s;
  transform-origin: -17vw -6vh;
  box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}
.ball:nth-child(5) {
  top: 46%;
  left: 15%;
  animation-duration: 36s;
  animation-delay: -40s;
  transform-origin: 4vw 0vh;
  box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}
.ball:nth-child(6) {
  top: 77%;
  left: 16%;
  animation-duration: 31s;
  animation-delay: -10s;
  transform-origin: 18vw 4vh;
  box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}
.ball:nth-child(7) {
  top: 22%;
  left: 17%;
  animation-duration: 55s;
  animation-delay: -6s;
  transform-origin: 1vw -23vh;
  box-shadow: -40vmin 0 5.703026794398318vmin currentColor;
}
.ball:nth-child(8) {
  top: 41%;
  left: 47%;
  animation-duration: 43s;
  animation-delay: -28s;
  transform-origin: 25vw -3vh;
  box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
}